div { border: solid 5px Black;
  padding: 10px}

h1 { font-family: "Calibri" }
h1 { font-family: "Calibri" }
h1 { color: Red;  }

body {
  font-family: "Calibri";
  width: 960px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
  margin-bottom: 50px;}
